{% extends "layout.html" %}
{% block title %}
    History
{% endblock %}
{% block main %}
<table class="table table-striped table-bordered">
    <tr class="bg-light">
        <td class="bold">Symbol</td>
        <td class="bold">Shares</td>
        <td class="bold">Price</td>
        <td class="bold">Transacted</td>
    </tr>
    {% for data in bigdata %}
    <tr>
            <td>{{ data.symbol }}</td>
            <td>{{ data.shares }}</td>
            <td>{{ data.price | usd }}</td>
            <td>{{ data.time }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}